*{
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	overflow-x:hidden;
}

nav {
	margin-bottom: 200px;
}

.rectangle {
	width: 100%;
	height: 100vh;
}

.smaller-rectangle {
	width: 100%;
	height: 60vh;
}

.fly-in-text {
	list-style: none;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}	

.fly-in-text li {
	display: inline-block;
	margin-right: 50px;
	font-family: Open Sans, Arial;
	font-weight: 300;
	font-size: 4em;
	color: white;
	opacity: 1;
	-webkit-transition: all 2.5s ease-out;
}

.fly-in-text li:last-child {
	margin-right: 0;
}

.img-hidden {
	opacity: 0;
}

.block-text {
	text-align: center;
	position: relative;
	top: 10%;
	font-family: Open Sans, Arial;
	font-weight: 300;
	font-size: 1.7em;
}

li.transition-hidden {
	opacity: 0;
}

li.transition-hidden:nth-child(1) {
	transform: translateX(400px);
}
li.transition-hidden:nth-child(2) {
	transform: translateX(420px);
}
li.transition-hidden:nth-child(3) {
	transform: translateX(440px);
}

#logo {
	position: absolute;
	top: 5%;
	left: 1%;
	height:10em;
	width:10em;
	z-index: 2;
	-webkit-transition:opacity 2.5s;
}

#landing-img {
	filter: brightness(30%);;
	width: 100%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
	-webkit-transition:opacity 2.5s;
}

#profile-container{
	position: relative;
	display: block;
	height: 250px;
	top: 20%;
	left: 20%;
	width: 250px;
	text-align: center;
	-webkit-transition: all 2.5s;
	border-color: black;
}
#profile-picture{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#about {
	background-color: #E3E3E3;
}

#projects {
	background-color: white
}

#experience {
	background-color: #E3E3E3;
}

#contact {
	background-color: black;
	color: white;
	text-align: center;
	height: 50vh;
	font-size: 1em;
}
#info-box {
	position: relative;
	top: -10%;
	left: 40%;
	font-size: 25px;
}

#github-picture {
	padding-top: 5em;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
	max-width: 250px;
}

#ttd-picture {
	padding-top: 2em;
	height: auto;
	width: auto;
	max-width: 500px;
}

/* slightly smaller desktop */
@media only screen and (max-width: 1500px){
	.fly-in-text {
		top: 30%;
		left: 60%;
	}
	#profile-picture {
		max-height: 500px;
	}
	#ttd-picture {
		max-height: 250px;
		max-width: 350px
	}
	.block-text {
		font-size: 1.8em;
	}
	#info-box {
		font-size: 20px;
		left: 45%;
	}
}

/* This query is for tablets */
@media only screen and (max-width: 900px) and (min-width: 500px){
	.fly-in-text {
		top: 35%;
		left: 60%;
	}
	.block-text {
		font-size: 1.5em;
	}
	#github-picture {
		max-height: 200px;
		max-width: 200px;
	}
	.smaller-rectangle {
		height: 60vh;
	}
	#about {
		height: 140vh;
	}
	#info-box {
		font-size: 20px;
		top: 30%;
		left: 20%;
	}
}

/* This query is for phones */
@media only screen and (max-width: 500px){
	.fly-in-text {
		top: 50%;
		left: 60%;
	}
	.block-text {
		font-size: 1.5em;
	}
	#ttd-picture {
		padding-top: 5em;
		max-height: 200px;
		max-width: 300px;
	}
	#profile-picture {
		max-height: 350px;
	}
	#github-picture {
		max-height: 150px;
		max-width: 150px;
	}
	.smaller-rectangle {
		height: 70vh;
	}
	#experience {
		height: 100vh;
	}
	#about {
		height: 140vh;
	}
	#projects {
		height: 80vh;
	}
	#info-box {
		font-size: 20px;
		top: 30%;
		left: 5%;
	}
}

