*{
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	overflow-x:hidden;
}

nav {
	-webkit-transition: all 1s;
}

.rectangle {
	width: 100%;
	height: 100vh;
}

.no-opacity {
	opacity: 0;
}

.nav-item {
	text-align: right;
	-webkit-transition:opacity 2s;
}

.block-text {
	position: relative;
	word-wrap: break-word;
	text-align: center;
	top: 10%;
	font-family: Open Sans, Arial;
	font-size: 1.3em;
	padding-left: 1em;
	padding-right: 1em;
}

.info-box {
	position: relative;
	top: 20%;
}

.info-heading {
	color: black;
}

.center-img-container {
	text-align: center;
	position: relative;
}

.small-img-container {
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: 250px;
	-webkit-transition: all 2.5s;
}

.circle-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border:2px solid black;
}

.bg-custom {
	background-color: black;
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#logo {
	position: absolute;
	height:10em;
	width:10em;
	z-index: 2;
	-webkit-transition:opacity 3s;
}

#landing-img {
	filter: brightness(20%);
	width: 100%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
	-webkit-transition:all 2s;
}

#about-rectangle {
	height: 135vh;
}

#projects-rectangle {
	height: 80vh;
}

#experience-rectangle {
	height: 110vh;
}

#contact-rectangle {
	height: 50vh;
	color: white;
	text-align: center;
	font-size: 1em;
}

#about {
	background-color: #E3E3E3;
}

#projects {
	background-color: white
}

#experience {
	background-color: #E3E3E3;
}

#contact {
	background-color: black;
}

#github-picture {
	padding-top: 7em;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
	max-width: 250px;
}

#ttd-picture {
	padding-top: 7em;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

#profile-picture {
	top: 15%;
	filter: contrast(115%);
}

#button-container {
	top: 60%;
	z-index: 2;
	-webkit-transition: opacity 2.5s;
}

a:link {
	color: #3495E8;
}

#about-button {
	color: white;
	border-width: medium;
}

#collapse-button {
	-webkit-transition: opacity 2.5s;
}

#end-statement {
	padding-top: 2em;
}

/*----------------------------------------------------*/
/*source: https://css-tricks.com/snippets/css/typewriter-effect/*/
/*Typewriter effect*/
.typewriter h1 {
  color: #fff;
  z-index: 2;
  font-size: 1.5em;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.short-type-animation {
	animation: 
    	typing 0.2s steps(20, end),
    	blink-caret .5s step-end infinite;
}
.medium-type-animation {
	animation: 
    	typing 1.5s steps(20, end),
    	blink-caret .5s step-end infinite;	
}
.long-type-animation {
	animation: 
    	typing 2s steps(20, end),
    	blink-caret .5s step-end infinite;		
}
.intro {
	position: absolute;
	z-index: 2;
}

#intro-part-1 {
	top: 25%;
}
#intro-part-2 {
	top: 35%;
}
#intro-part-3 {
	top: 45%;
}
#intro-container {
	z-index: 2;
	width: 100vw;
	top: 30%;
	height: 50vh;
}
/*-------------------------------------------------*/

@media screen and (min-width: 768px) {
	#about-rectangle {
		height: 110vh;
	}
	#projects-rectangle {
		height: 60vh;
	}
	#experience-rectangle {
		height: 90vh;
	}
	#contact-rectangle {
		height: 40vh;
	}
	.info-heading {
		font-size: 1em;
	}
	.card-body {
		font-size: 1em;
	}
	.block-text {
		font-size: 1.3em;
	}
	.nav-link {
		font-size: 1em;
	}
	#logo {
		height: 13em;
		width: 13em;
	}
}

@media screen and (min-width: 1024px) {
	.block-text {
		font-size: 1.5em;
	}
	#about-rectangle {
		height: 120vh;
	}
	#experience-rectangle {
		height: 90vh;
	}
	#projects-rectangle {
		height: 60vh;
	}
	#contact-rectangle {
		height: 40vh;
	}
	#ttd-picture {
		max-width: 500px;
	}	
	.typewriter h1 {
		font-size: 2em;
	}
	.nav-link {
		font-size: 1.1em;
	}
	.info-heading {
		font-size: 1.2em;
	}
	.card-body {
		font-size: 1.2em;
	}
	#logo {
		height: 15em;
		width: 15em;
	}
}

@media screen and (min-width: 1440px) {
	#about-rectangle {
		height: 120vh;
	}
	#projects-rectangle {
		height: 55vh;
	}
	#experience-rectangle {
		height: 80vh;
	}
	#contact-rectangle {
		height: 40vh;
	}
	.nav-link {
		font-size: 1.2em;
	}	
	.block-text {
		font-size: 1.7em;
	}	
	.info-heading {
		font-size: 1.3em;
	}
	.card-body {
		font-size: 1.3em;
	}		
}

@media screen and (min-width: 2560px) {
	.nav-link {
		font-size: 1.8em;
	}
	#logo {
		height: 25em;
		width: 25em;
	}
	.block-text {
		font-size: 2.5em;
		padding-top: 2em;
	}
	.info-heading {
		font-size: 2em;
	}
	.card-body {
		font-size: 2em;
	}	
	.small-img-container {
		height: 350px;
		width: 350px;
	}
	.typewriter h1 {
		font-size: 3em;
	}
	#about-rectangle {
		height: 100vh;
	}
	#experience-rectangle {
		height: 90vh;
	}
	h2 {
		font-size: 3em;
	}
}




