*{
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	overflow-x:hidden;
}

nav {
	-webkit-transition: all 1s;
	opacity: 0.8;
}

.rectangle {
	width: 100%;
	overflow: auto;
	padding-bottom: 15vh;
	padding-top: 5vh;
}

.no-opacity {
	opacity: 0;
}

.nav-item {
	text-align: right;
	-webkit-transition:opacity 2s;
}

.block-text {
	position: relative;
	word-wrap: break-word;
	text-align: center;
	font-family: Open Sans, Arial;
	font-size: 1.3em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.center-container {
	text-align: center;
	position: relative;
}

.bg-custom {
	background-color: black;
}

.round-border {
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #EE5716;
	border-radius: 16px;
}

.section-header {
	font-size: 1.5em;	
	margin-top: 2em;
	text-align: center;
	color: #EE5716;
}

.featurette-divider{
	border-top: 1px solid #8c8b8b;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.work {
	display: inline-block;
	margin: 1em;
}

.work-title {
	margin-top: 1em;
	margin-bottom: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.work-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border:3px solid #EE5716;
	-webkit-transition: all 1s;	
	background-color: #EE5716;
}

.work-img-container {
	height: 15vh;
	width: 15vh;
	margin-left: auto;
	margin-right: auto;
}

.skills-container {
	padding-top: 5vh;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.skill {
	display: inline-block;
	height: 15vh;
	width: 15vh;
	margin: 1em;
	border-radius: 50%;
	border:3px solid #EE5716;	
	-webkit-transition: all 1s;		
}

.skill-img {
	object-fit: contain;
	position: relative;
	top: 10%;
	height: 80%;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.nav-item a.active i{
    color: #EE5716 !important;
    -webkit-transition: color 1s;
}

.nav-item a{
	color: white !important;
    -webkit-transition: color 1s;	
}

#logo {
	position: absolute;
	height:10em;
	width:10em;
	z-index: 2;
	-webkit-transition:opacity 3s;
}

#landing-img {
	filter: brightness(50%);
	width: 100%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
	-webkit-transition:all 2s;
}

#home-rectangle {
	height: 100vh;
	padding-bottom: 0;
	padding-top: 0;
}

#about {
	background-color: white;
	padding-top: 10em;
	padding-bottom: 10em;
	margin-left: auto;
	margin-right: auto;
	width: 70%;

}

#projects {
	background-color: white;
	padding-top: 10em;
	padding-bottom: 10em;
}

#experience {
	background-color: white;
	padding-top: 10em;
	padding-bottom: 10em;
}

#experience-section-header {
	padding-bottom: 5vh;
}

#contact {
	background-color: black;
	padding-top: 25em;
	padding-bottom: 25em;
}

#github-picture {
	max-width: auto;
	max-height: 10vh;
	object-fit: contain;
	padding: 1em;
}

#profile-picture {
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: 0;
}

#collapse-button {
	-webkit-transition: opacity 2.5s;
	-webkit-transition: margin 1s;
}

#bio {
	display: block;
	margin-top: 2em;
	margin-bottom: auto;
	text-align: left;
}

#experience-display-box {
	width: 20vh;
	height: 20vh;
}

#work-description {
	width: 100%;
	text-align: center;
}

#skills {
	width:70%;
}

a:link, a:hover,a:visited, a:active, a {
	color: #EE5716;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.work-img:hover {
	filter: opacity(50%);	
}

.skill:hover {
	background-color: #EE5716;
}


/*.info-box {
	position: relative;
	margin-top: 2em;
	margin-bottom: 5em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}*/

/*.card-header {
	text-align: center;
}

.card-body {
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.card {
	border: 2px solid #EE5716;
}

.info-heading {
	color: black;
	-webkit-transition: all 1.5s;	
}*/







/*.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
*/



/*.full-width {
	width: 100%;
}*/

/*#button-container {
	top: 70%;
	z-index: 2;
	-webkit-transition: opacity 2.5s;
}*/



/*#about-button {
	color: white;
	border-width: medium;
	border-color: #EE5716;
	-webkit-transition: all 1.5s;
	padding: 10px 30px;
	max-width: 70vw;
	font-size: 4vw;
}*/

/*#skills-card-body {
	width: 100%;
}*/

/*#skill-description {
	width: 100%;
	overflow: auto;
}*/


/*----------------------------------------------------*/
/*source: https://css-tricks.com/snippets/css/typewriter-effect/*/
/*Typewriter effect*/

/*.typewriter h1 {
  color: #fff;
  z-index: 2;
  font-size: 3vw;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid #EE5716; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
}*/

/*@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #EE5716 }
}

@keyframes delete {
	from { width: 100% }
	to { width: 10% }
}

@keyframes retype {
	from { width: 10% }
	to { width: 100% }
}

@keyframes type-end {
	from { width: 60% }
	to { width : 100% }
}

.short-type-animation {
	animation: 
    	typing 0.2s steps(20, end),
    	blink-caret .5s step-end infinite;
}
.medium-type-animation {
	animation: 
    	typing 1s steps(20, end),
    	blink-caret .5s step-end infinite;	
}
.delete-animation {
	animation: 
		delete 1s steps(20, end),
		blink-caret .5s step-end infinite;
}
.retype-animation{
	animation: 
		retype 1s steps(20, end),
		blink-caret .5s step-end infinite;
}
.type-ending-animation{
	animation: 
		type-end 1s steps(20,end),
		blink-caret .5s step-end infinite;
}
.intro {
	position: absolute;
	z-index: 2;
}

#intro-part-1 {
	top: 25%;
}
#intro-part-2 {
	top: 35%;
}
#intro-part-3 {
	top: 45%;
}
#intro-container {
	z-index: 2;
	width: 100vw;
	top: 20%;
	height: 50vh;
}*/





